[user]
	name = Ricardo Pascua Jr
	email = rdpascua@outlook.com
	signingkey = 
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
[gpg]
	program = gpg
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[rerere]
	enabled = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
